.fixed-header{
    position: fixed;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background: #3f51b5;
    color: #fff;
    height: 64px;
    font-size: 18px;
}